/* 
		Css Rules:
		selector{
			Property:value;
		}


*/

/*(!important) is priority ito yung pag nauna yung internal tas naka next yung external*/

/*
type selector (tag)
*/
h1{
	color:green;
	text-align: center;

}

/*universal selector | monospace is ok for all brower*/

*{
	font-family:courier new, monospace;
	font-size: 20px;
}

/*
	id selector (#) symbol

	letter spacing  - property  changes the spaces in between characters of a text
*/

#zuitt_motto{
	/*letter-spacing:5px;*/
}

/* Class selector (.) symbol 
		text transform property changes font to a certain case.
		*/
.offering-item{
	text-transform: uppercase;
}

	/* attribute selector ([]) symbol */
	/*border-width thicknes*/

	[required]{
			border-width: 2px;
			border-style: solid;
			border-color: navy;
			width:90%;

	}

h3{
	letter-spacing:25px;
}

/*selector combinators*/
/*adjacent sibling selector ibig sabihin yung itatag yung pinakamatandang kapatid ni img
*/

#zuitt_motto+img{
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*child selector (>)
body>selection> #bootcamp-learning-list
*/
ol>li{
	color:#E0AE44;	
}
/*general sibling selector*/
h2 ~ a{
	text-decoration: none;
}
/*descendant selector (whitespace)*/
#register label{
	color:rgb(0, 0, 150);
}

body{
	background-color: skyblue;
}

/*for the smoothness to scroll*/
html{
	scroll-behavior: smooth;
}

nav{
	background-color: white;
}

a:hover{
	background-color: #b4d6de;
}

div{
	display: inline-block;
	float:right;
}
section{
	height: 100vh;
	text-align: center;
}
h2{
	font-size: 1.5rem;
}
ol{
	list-style-type: none;
}
h2 + form{
	text-align:center;
	background-color: white;
	position: relative;
	width: 25vw;
	height: 185px;
	border:2px solid black;
	left: 37.5%;
}

button{
	background-color: #cf0053;
	color:white;
	border: 0;
	border-radius: 15px;
}