*{
	font-family:arial,monospace;
	font-size: 20px;
}

h1{
	font-size: 50px;
}

.first{
	background-color: green;
	border:0px solid black;
}

#external{
	color: sienna!important;
}
#1{
	background-color: skyblue;
}

#tagh2{
	text-transform: uppercase;
}

[class|="second"]{
	border-color: skyblue;
	border-width: 1px;
	border-style: solid;
}
html img{
	height: 50px;
	width: 50px;
	border-radius: 25px;
}

img+ol{
list-style-type: none;
letter-spacing: 10px;
font-family: arial;
}
p{
	text-align: center;
	font-family: arial;
}
h4{
	font-family: arial;
}
html>body>#tag{
	letter-spacing: 2px;
}